/* ------BASE------ */
@font-face {
  font-family: Roobert;
  src: url(../../font/Roobert-Regular.ttf);
}

@font-face {
  font-family: Comfortaa;
  src: url(../../font/Comfortaa-VariableFont_wght.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Inter;
  src: url(../../font/Inter-VariableFont_slnt_wght.ttf);
}

html {
  display: table;
  margin: auto;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: Inter;
  width: 390px;
}

header,
footer {
  width: 390px;
  background: rgb(255, 255, 255);
  padding: 1em;
  z-index: 100;
}

header {
  position: fixed;
  top: 0;
  height: 60px;
  text-align: center;
}

footer {
  position: fixed;
  box-shadow: 0px -4px 4px rgb(50 50 50 / 15%);
  height: 60px;
  top: 786px;
  background-color: #e74c3c;
  padding: 0;
}

.container {
  padding-top: 88px;
  padding-bottom: 88px;
  overflow: auto;
  height: 844px;
}

/* ---EDITABLE------- */

header h4 {
  font-weight: bold;
}
header a {
  color: #e74c3c;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

header a i {
  padding-left: 15px;
}

footer a {
  color: #707070;
  font-weight: bolder;
  text-decoration: none;
  vertical-align: middle;
  margin: auto 0;
}

footer a:nth-child(2) {
  color: #e47170;
}

.container div {
  margin-bottom: 20px;
}

.container div p {
  color: #e74c3c;
  margin-bottom: 8px;
  padding-left: 8px;
}

.container div:first-child p,
.container div:nth-child(2) p,
.container div:nth-child(3) p {
  color: #707070;
  font-weight: 900;
}

.container div ul li {
  font-weight: 900;
  /* display: block; */
  display: flex;
  align-items: center;
}

.container div:nth-child(2) ul li,
div:nth-child(3) ul li {
  display: block;
}

ul {
  border: 1px solid #707070;
  border-radius: 4px;
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 10px;
}

hr {
  /* width: 90%; */
  padding: 4px 10px;
  margin: 0 8px;
}

.checkbox {
  float: right;
}

input {
  accent-color: #e74c3c;
}

.range {
  width: 100%;
}
