@font-face {
  font-family: Roobert;
  src: url(../../font/Roobert-Regular.ttf);
}

@font-face {
  font-family: Comfortaa;
  src: url(../../font/Comfortaa-VariableFont_wght.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Inter;
  src: url(../../font/Inter-VariableFont_slnt_wght.ttf);
}

html {
  display: table;
  margin: auto;
}

body {
  width: 390px;
}

header,
footer {
  width: 390px;
}

.container .menu a:nth-child(2) {
  color: #e47170;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  /* color: whitesmoke; */
  /* font-family: cursive; */
  position: relative;
  font-family: Inter;
}

.container {
  padding-top: 88px;
  padding-bottom: 88px;
}

header {
  position: fixed;
  top: 0;
  /*Expanding to take full width*/
  /* right: 0;
  left: 0; */
}

footer {
  position: fixed;
  bottom: -2px;
  /*Expanding to take full width*/
  /* right: 0;
  left: 0; */
  box-shadow: 0px -4px 4px rgb(50 50 50 / 15%);
  height: 60px;
}

header,
footer {
  background: rgb(255, 255, 255);
  padding: 1em;
  /* box-shadow: 1px 1px 1px 1px black; */
  z-index: 100;
}

footer a {
  color: #707070;
  font-weight: bolder;
  text-decoration: none;
  vertical-align: middle;
  margin: auto 0;
}

footer a:nth-child(2) {
  color: #e47170;
}

ul {
  border: 1px solid;
  border-radius: 4px;
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 10px;
}

hr {
  /* width: 90%; */
  padding: 4px 10px;
  margin: 0 8px;
}

.checkbox {
  float: right;
}

input {
  accent-color: #e74c3c;
}

header {
  text-align: center;
  /* position: relative; */
}

header a {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
