::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

:root {
  --blue: #589de2;
  --red: #e15f5e;
  --green: #5be868;
  --gray: #707070;
}

body div.container {
  position: relative;
  padding: 120px 20px 20px 20px;
}

header {
  height: 96px;
  box-shadow: 0px 4px 4px rgb(50 50 50 / 15%);
}

header div:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
header div:first-child a {
  font-weight: bold;
  color: var(--red);
}

header div:first-child h5 {
  margin-left: 4px;
  font-family: Comfortaa;
  padding-right: 72px;
  font-weight: bold;
}

header div:first-child span {
  font-size: 1rem;
  margin-left: 12px;
  font-weight: bold;
  color: var(--red);
}

header div:last-child {
  display: flex;
  justify-content: space-around;
}
header div:last-child span {
  font-size: large;
  font-weight: bold;
}

header div:last-child span:last-child {
  font-size: large;
  color: var(--gray);
  font-weight: 100;
}

.container .image > p {
  text-align: center;
  color: var(--gray);
}

.container h5 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #676767;
}

.container .image .row .col {
  margin-bottom: 20px;
  padding: 0 12px;
}

.container .image .full {
  position: relative;
}

.container .image .full img {
  /* display: none; */
  border-radius: 4px;
}

.container .image .full img:last-child {
  /* display: none; */
  width: auto;
  position: absolute;
  right: -4px;
  top: -4px;
}

.container .image .empty {
  display: none;
}

.container .row img {
  width: 100%;
}

.container .image p:last-child {
  text-align: left;
}

.container .voice {
  margin: 20px 0;
  width: 390px;
  margin-left: -18px;
  box-shadow: 0px 2px 4px rgb(50 50 50 / 15%), 0px -2px 4px rgb(50 50 50 / 15%);
  padding: 20px 0;
}

.container .voice h4 {
  color: var(--gray);
  /* font-style: italic; */
  font-size: 1.3rem;
  font-weight: 100;
  margin-left: 18px;
}

.container .voice img {
  width: auto;
  height: auto;
  margin-left: 18px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.container .about-me h5 {
  font-size: 1rem;
}

.container .about-me input {
  height: 80px;
  width: 350px;
  border: 0;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23B9B9B9FF' stroke-width='4' stroke-dasharray='6%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 6px;
  margin-bottom: 20px;
}

.container .music {
  margin: 20px 0;
  width: 390px;
  margin-left: -18px;
  box-shadow: 0px 2px 4px rgb(50 50 50 / 15%), 0px -2px 4px rgb(50 50 50 / 15%);
  padding: 20px 0;
}

.container .music img {
  border-radius: 4px;
}

.container .music h4,
.container .music .row {
  /* margin-left: 20px; */
  padding: 0 20px;
}

.container .music h4 {
  font-weight: bold;
  color: var(--gray);
  font-size: larger;
}

.container .music .row {
  padding-top: 16px;
}

.container .music .empty {
  display: none;
}

.container .music .full p {
  margin: 0;
  font-weight: 900;
  text-transform: capitalize;
}

.container .info > h5 {
  margin: 0;
}

.container .info h5 img:last-child {
  padding: 12px;
}

.container .info > div {
  justify-content: space-between;
  display: flex;
}

.container .info div h5 {
  margin-bottom: 0;
  font-weight: 100;
}

.container .info .key h5:first-child {
  color: black;
  margin-bottom: 8px;
  font-size: 1.2rem;
  font-weight: bold;
}

.container .info div p {
  margin: auto 0;
  color: var(--gray);
  font-size: larger;
}

.container .info .first-hr {
  margin-top: 0;
}

.container .hobby span {
  display: inline-block;
  padding: 4px 20px;
  border: 1px solid var(--red);
  border-radius: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

.container .image {
  margin-bottom: 72px;;
}
