:root {
  --blue: #589de2;
  --red: #e15f5e;
  --green: #5be868;
  --gray: #707070;
}

div.container {
  position: relative;
  padding-bottom: 64px;
}

#avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

header #logo {
  float: left;
  color: #e74c3c;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

header a {
  float: right;
  color: #e74c3c;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

header a:nth-child(2) {
  color: #e74c3c;
  position: absolute;
  right: 72px;
  top: 50%;
  transform: translateY(-50%);
}

.container .swipe {
  position: relative;
}

.container .swipe img {
  width: 360px;
  height: 520px;
  border-radius: 8px;
}

/* header */
.container .swipe .image {
  position: relative;
}

.container .swipe .image .name,
.container .swipe .image .place {
  position: absolute;
  display: flex;
  color: white;
  margin-left: 12px;
}

.container .swipe .image .name {
  bottom: 48px;
  left: 12px;
  font-size: 1.8rem;
  font-weight: bolder;
}

.container .swipe .image .name p {
  margin-right: 44px;
}

.container .swipe .image .place {
  bottom: 16px;
  left: 28px;
  margin: auto 0;
  font-size: 1.1rem;
}

.container .swipe .image .place i {
  color: #e15f5e;
  padding-right: 12px;
}

.container .action span {
  font-size: 1.8rem;
}

.container .action a:first-child span {
  color: var(--blue);
  margin-top: 32px;
}

.container .action a:nth-child(2) span {
  color: var(--red);
  margin-top: 80px;
}

.container .action a:nth-child(3) span {
  color: var(--green);
  margin-top: 80px;
}

.container .action a:nth-child(4) span {
  color: var(--red);
  margin-top: 32px;
}

footer a:first-child {
  color: var(--red);
}

#image-1 {
  position: absolute;
  animation: moveleft 2s;
  z-index: 10;
  animation-fill-mode: forwards;
}

#image-3 {
  position: absolute;
  animation: moveright 2s;
  z-index: 10;
  animation-fill-mode: forwards;
}

#image-2 {
  z-index: 1;
}

.circle {
  position: absolute;
  z-index: 10;
  font-size: 4rem;
  left: 50%;
  top: 50%;
  animation-delay: 1s;
  transform: translate(-50%, -50%);
  animation: fade 2s;
  z-index: 10;
  animation-fill-mode: forwards;
}

#no-circle span {
  color: red;
}

#yes-circle span {
  color: var(--green);
}

@keyframes moveleft {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -1000px;
  }
}

@keyframes moveright {
  from {
    margin-left: 0;
    opacity: 1;
  }
  to {
    margin-left: 10000px;
    opacity: 0;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
