:root {
  --blue: #589de2;
  --red: #e15f5e;
  --green: #5be868;
  --gray: #707070;
}

body div.container {
  position: relative;
  padding-top: 120px;
}

#avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

#head {
  height: 100px;
}

header {
  box-shadow: 0px 4px 4px rgb(50 50 50 / 15%);
  height: 96px;
}

header #logo {
  float: left;
  color: #e74c3c;
  position: absolute;
  left: 15px;
  top: 30px;
  transform: translateY(-50%);
}

#head a {
  top: 30px;
}

header .top a {
  float: right;
  color: #e74c3c;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

header .top a:nth-child(2) {
  color: #e74c3c;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

#avatar {
  right: 15px;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  padding-top: 48px;
  font-family: Comfortaa;
}

.bottom a {
  color: var(--gray);
  text-decoration: none;
}

.bottom .selected {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

div.container {
  padding-top: 120px;
}

div.container .people > h5 {
  font-size: 1.6rem;
  font-family: Comfortaa;
  font-weight: bold;
}

div.container .people > p {
  text-align: center;
  margin: 12px 0 32px 0;
}

div.container .people > p a {
  padding: 8px 32px;
  text-decoration: none;
  color: whitesmoke;
  background-color: var(--red);
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: bold;
}

.container .people .people-list {
  position: relative;
  margin-bottom: 20px;
}

.container .people .people-list .chat {
  position: absolute;
  z-index: 1;
  top: 12px;
  right: 28px;
}

.container .people .people-list .chat a {
  color: #e15f5e;
}

.container .people .people-list .status img {
  position: absolute;
  z-index: 1;
  top: 165.5px;
  left: 32px;
}

.container .people .people-list .status p {
  position: absolute;
  z-index: 1;
  top: 160px;
  left: 48px;
}

.container .people .people-list .pic {
  border: #e15f5e solid 4px;
  border-radius: 8px;
  z-index: 10;
}

.container .people .people-list .pic img {
  width: 100%;
  height: 240px;
  border-radius: 4px;
  /* border: #e15f5e solid 5px; */
  object-fit: cover;
  /* filter: brightness(70%); */
  z-index: 0;
}

.container .people .people-list h5 {
  position: absolute;
  top: 186px;
  left: 32px;
  width: 312px;
  color: white;
  width: 132px;
  font-size: 1.2rem;
  font-weight: bolder;
  z-index: 1;
  text-shadow: 2px 2px 4px var(--gray);
}

.container .people .people-list p {
  position: absolute;
  top: 210px;
  left: 32px;
  width: 312px;
  color: white;
  width: 132px;
  z-index: 1;
  text-shadow: 2px 2px 4px var(--gray);
  font-size: 1rem;
}

footer {
  background-color: white;
  vertical-align: middle;
}

footer a {
  margin: auto 0;
  color: var(--gray);
}

footer a:nth-child(3) {
  color: var(--red);
}

#people-2 .row .people-list > p {
  background: #ff000021;
  border: 2px solid var(--red);
  width: fit-content;
  padding: 0px 8px;
  border-radius: 12px;
}

/*-------------------- favorite detail ---------------------- */
#active {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  font-family: Comfortaa;
}

#head-2 {
  height: 48px;
  padding: 12px 15px 0 15px;
  padding-top: 12px;
  padding-right: 15px;
  padding-left: 15px;
}

#container-2 {
  padding-top: 72px;
  padding-bottom: 20px;
}

#start span {
  display: block;
  color: var(--gray);
}

.foot {
  display: none;
}

.left i {
  color: var(--red);
}
