::-webkit-input-placeholder {
    font-style: italic;
  }
  :-moz-placeholder {
    font-style: italic;
  }
  ::-moz-placeholder {
    font-style: italic;
  }
  :-ms-input-placeholder {
    font-style: italic;
  }
  
  :root {
    --blue: #589de2;
    --red: #e15f5e;
    --green: #5be868;
    --gray: #707070;
  }
  
  .container {
    position: relative;
    padding: 120px 20px 20px 20px;
  }
  
  header {
    /* height: 96px; */
    box-shadow: 0px 4px 4px rgb(50 50 50 / 15%);
  }
  
  header div:first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  header div:first-child a {
    font-weight: bold;
    color: var(--red);
  }
  
  header div:first-child h5 {
    margin-left: 4px;
    font-family: Comfortaa;
    margin: 0 18% 0 18%;
    /* padding-right: 72px; */
    font-weight: bold;
    text-align: center;
  }
  
  header div:first-child span {
    font-size: 1rem;
    margin-left: 12px;
    font-weight: bold;
    color: var(--red);
  }
  
  header div:last-child {
    display: flex;
    justify-content: space-around;
  }
  header div:last-child span {
    font-size: large;
    font-weight: bold;
  }
  
  header div:last-child span:last-child {
    font-size: large;
    color: var(--gray);
    font-weight: 100;
  }

  /* .container {
    vertical-align: middle;
  } */

  .container .image {
    position: relative;
  }
  .container .image .avatar img{
    width: 360px;
    height: 480px;
    object-fit: cover;
    border-radius: 8px;
    /* position: absolute;
    z-index: 0; */
  }

  .container .image .camera img{
    top: 5px;
    right: -5px;
    position: absolute;
    z-index: 1;
  }

  .container > img {
    margin: 5% 45%;
    margin-top: 10%;
  }

  .container > p {
    width: 360px;
    height: 10%;
    border-radius: 0.5em;
    border: #e15f5e solid 2px;
    text-align: center;
    padding: 3%;
    font-weight: bold;
  }