/* ------BASE------ */
@font-face {
  font-family: Roobert;
  src: url(../../font/Roobert-Regular.ttf);
}

@font-face {
  font-family: Comfortaa;
  src: url(../../font/Comfortaa-VariableFont_wght.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Inter;
  src: url(../../font/Inter-VariableFont_slnt_wght.ttf);
}

:root {
  --blue: #589de2;
  --red: #e15f5e;
  --green: #5be868;
  --gray: #707070;
}

html {
  display: table;
  margin: auto;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: Inter;
  width: 390px;
}

header,
footer {
  width: 390px;
  background: rgb(255, 255, 255);
  padding: 1em;
  z-index: 100;
}

header {
  position: fixed;
  top: 0;
  height: 60px;
  text-align: center;
}

footer {
  position: fixed;
  box-shadow: 0px -4px 4px rgb(50 50 50 / 15%);
  height: 60px;
  top: 786px;
  padding: 0;
}

div.container {
  padding-top: 88px;
  padding-bottom: 88px;
  overflow: auto;
  height: 844px;
}

#avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

header > #logo {
  float: left;
  color: #e74c3c;
  position: absolute;
  left: 15px;
  top: 30px;
  transform: translateY(-50%);
}

header > a {
  float: right;
  color: #e74c3c;
  position: absolute;
  right: 15px;
  top: 30px;
  transform: translateY(-50%);
}

header > a:nth-child(2) {
  color: #e74c3c;
  position: absolute;
  right: 72px;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  background-color: white;
  vertical-align: middle;
}

footer a {
  margin: auto 0;
  color: var(--gray);
}
